.App {
  text-align: center;
}

input {
  border: 0px solid ;
  font-size: 16px;
  position: relative;
  width: 70%;
  margin: 5rem auto;
  top: 5rem;
}

input:focus {
  outline: none;
}

.draftArea {

}

.title {
  font-size: 32px;
  width: 30%;
  margin: 16px auto;
  padding: 3rem auto;
  top: 5rem;
  background-color: antiquewhite;
}

.essay1 {
  font-size: 16px;
  width: 30%;
  margin: 16px auto;
  top: 5rem;
  background-color: antiquewhite;
}

.save_button {
  bottom: 32px;
}